.header {
  background-color: var(--color-header);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-icon {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.profile-icon:hover {
  transform: scale(1.05);
  opacity: 0.9;
}