.my-recipes-page {
  padding: 2.5rem;
}

.my-recipes-header {
  font-size: 2.5rem;
  color: #000; /* Changed to black */
  text-align: center;
  margin-bottom: 20px;
  font-family: "Cursive", sans-serif;
}

.no-recipes-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
